header {
    background: #009688;
    /* color: red; */
    padding: 16px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
